.wrapper{
    height: 60%;
    width: 25%;
    position: absolute;
    top: 150px;
    z-index: 9;
    border: 1px solid #000;
    border-radius: 1vw;
    padding: 2vw;
    background-color: rgb(204, 203, 203);
    p{
        display: flex;
        justify-content: right;
        font-size: 15px;
        cursor: pointer;
    }
    .content{
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        .content__main{
            display: flex;
            &_users{
              max-height: 300px;
              background-color: white;
            }
        }
    }
}