.wrapper{
    display: flex;
    max-width: 1500px;
    .home{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px 30px;
        margin-left: 100px;
        .main{
            display: flex;
        }
    }
}