.wrapper{ 
    background-color: rgb(42, 0, 82);
    padding: 0 5px;
    display: flex;
    position: absolute;
    height: 100%;
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h2{
            margin-top: 15px;
            color: white;
        }
        nav{
            display: flex;
            flex-direction: column;
            img{
                cursor: pointer;
                filter: invert(1); //красит в белый
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    
        .out{
            cursor: pointer;
            filter: invert(1); //красит в белый
            margin-bottom: 15px;
        }
    }
}